{% extends 'base.html.twig' %}

{% block title %}Comentarioalbum{% endblock %}

{% block body %}
    <h1>Comentarioalbum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentarioalbum.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ comentarioalbum.descripcion }}</td>
            </tr>
            <tr>
                <th>Idalbum</th>
                <td>{{ comentarioalbum.idalbum }}</td>
            </tr>
            <tr>
                <th>CreadoEl</th>
                <td>{{ comentarioalbum.creadoEl ? comentarioalbum.creadoEl|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comentarioalbum_index') }}">back to list</a>

    <a href="{{ path('comentarioalbum_edit', {'id': comentarioalbum.id}) }}">edit</a>

    {{ include('comentarioalbum/_delete_form.html.twig') }}
{% endblock %}
